# Student Performance Indicator 

### Life cycle of Machine Learning Project

1. Understanding the problem statement
2. Data Collection
3. Data Checks to perform
4. Exploratory Data Analysis
5. Data Pre-Processing
6. Model Training
7. Choose best model


## 1) Problem Statement

This project understands how the student's performance (test scores) is affected by other variables such as Gender, Ethnicity, Parental level of education, Lunch and Test preperation Course.

## 2) Data Collection

The data set consist of 8 columns and 1000 rows

#### 2.1) Import Dataset

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [10]:
df = pd.read_csv('data/raw_data.csv')

In [6]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
df.shape

(1001, 8)

#### 2.2) Dataset Information

1. gender: female, male
2. race/ethnicity: Group(A,B,C,D,E)
3. parental_level_of_education: parent's final education -> (bachelor's degree,some college,master's degree,associate's degree,high school)
4. lunch: having lunch before exams (standard or free/reduced)
5. test_preparation_course: complete or not complete
6. math score
7. reading score
8. writing score

### 3) Data Checks to perform

 - Check missing value
 - Check Duplicates
 - Check data types
 - Check the number of unique values of each column
 - Check statistics of data set
 - Check various categories present in the different categorical column

##### 3.1) Check Missing values

In [8]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

No missing values

##### 3.2) Duplicate values

In [11]:
df.duplicated().sum()

0

No duplicate values

##### 3.3) Check data types and null

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

##### 3.4) Check the number of unique values of each column

In [15]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

##### 3.5) Check statistics of data set

In [17]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

###### Observation
1. Mean score range between 68 to 69
2. Minimum score in maths is 0 while writing score is 10 and highest is 17 in reading score

##### 3.6) Check various categories present in the different categorical column

In [25]:
print("Categories in Gender: ", end=" ")
print(df["gender"].unique(), end="\n\n")

print("Categories in race_ethnicity: ", end=" ")
print(df["race_ethnicity"].unique(), end="\n\n")

print("Categories in parental_level_of_education: ", end=" ")
print(df["parental_level_of_education"].unique(), end="\n\n")


print("Categories in lunch: ", end=" ")
print(df["lunch"].unique(), end="\n\n")


print("Categories in test_preparation_course: ", end=" ")
print(df["test_preparation_course"].unique())

Categories in Gender:  ['female' 'male']

Categories in race_ethnicity:  ['group B' 'group C' 'group A' 'group D' 'group E']

Categories in parental_level_of_education:  ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

Categories in lunch:  ['standard' 'free/reduced']

Categories in test_preparation_course:  ['none' 'completed']